{% extends 'auth_base.html' %}
{% block content %}
<h2 class="text-xl font-bold mb-4">Editar Producto</h2>
<form method="POST">
  <label>Nombre:</label>
  <input type="text" name="name" value="{{ product.name }}" required class="input mb-2">
  <label>Precio:</label>
  <input type="number" name="price" value="{{ product.price }}" required class="input mb-2">
  <label>Categoría:</label>
  <input type="text" name="category" value="{{ product.category }}" required class="input mb-2">
  <label>Descripción:</label>
  <textarea name="description" class="input mb-2">{{ product.description }}</textarea>
  <button type="submit" class="btn">Actualizar</button>
</form>
{% endblock %}